/* Navbar */


.navbar-container {
  /* border: 1px solid red; */

}

.active {
  color: #ADC44C;
}

.fa-bars {
  display: none;
  grid-area: fa-bars;
}


#logo {
  grid-area: logo;
}

.login {
  margin: 10px;
  height: 40px;
  background-color: transparent;
  font-family: 'Lato', sans-serif; 
  font-size: calc(.1em + 1vw);
  font-weight: 600;
  color: #FF8300;
  border-color: #FF8300;
  cursor: pointer;
  grid-area: login;

}

.login:hover {
  background-color: #99005d;
}

.login-signup {
  position: relative;
  grid-area: login-signup;
  display: grid;
  grid-template-areas:  "login signup fa-bars";
  grid-template-columns: 35% 35% auto;
  grid-template-rows: 100%;
}

.menu-wrapper {
  grid-area: menu-wrapper;
  display: grid;
  align-items: center;
  padding-left: 30px;
}

.menu-wrapper ul {
  display: inline-block;
}

.menu-wrapper ul li {
  display: inline-block;
  position: relative;
  float: left;
}

.menu-wrapper ul li a {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  margin: 0 16px;
}

#main_ul_menu .icon {
  display: none;
}

#main_ul_menu li:hover {
  color: #ADC44C;
  transition: color .3s;
}

.navbar-container {
  position: relative;
  background-color: black;
  height: 150px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.navbar-inner {
  position: absolute;
  top: 60%;
  background-color: #006699;
  opacity: .9;
  display: grid;
  grid-template-columns: 100%;
  /* grid-template-areas:
  "logo . menu-wrapper . login-signup"; */
  text-align: center;
  align-items: center;
  margin: 0px auto;
  width: 80%;
  height: 100px;
}

.signup {
  margin: 10px;
  height: 40px;
  background-color: #99005d;
  border-color: #FF8300;
  font-size: calc(.1em + 1vw);
  grid-area: signup;
  color: #FF8300;
  cursor: pointer;
}

.signup:hover {
  background-color: transparent;
}


@media screen and (max-width: 1000px) {

  .fa-bars {
    font-size: 33px;
    display: inline;

  }

  .md-none  {
    display: none;
  }
  
  .menu-wrapper {
    position: relative;
    text-align: right;
  }

  #main_ul_menu li:not(:last-child) {
    display: none;
  }

  #main_ul_menu .icon {
    display: block;
  }

  .navbar-inner  {
    grid-template-columns: 5% 10% auto 20% 5%;
    grid-template-areas:
    ". logo .  login-signup .";
  }

}
