/* Navbar */

.active {
  color: #ADC44C;
}

#logo {
  grid-area: logo;
}
.login {
  width: 90px;
  height: 40px;
  background-color: transparent;
  margin: 15px;
  font-family: 'Lato', sans-serif; 
  font-size: calc(.1em + 1vw);
  font-weight: 600;
  color: #FF8300;
  border-color: #FF8300;
  vertical-align: middle;
  cursor: pointer;
}

.login:hover {
  background-color: #99005d;
}

.signup {
  width: 90px;
  height: 40px;
  background-color: #99005d;
  border-color: #FF8300;
  font-size: calc(.1em + 1vw);
  vertical-align: middle;
  color: #FF8300;
  cursor: pointer;
}

.signup:hover {
  background-color: transparent;
}

.login-signup {
  grid-area: login-signup;
}

.menu-wrapper {
  grid-area: menu-wrapper;
  display: grid;
  align-items: center;
  padding-left: 30px;
}


.menu-wrapper ul {
  display: inline-block;
}

.menu-wrapper ul li {
  display: inline-block;
  position: relative;
  float: left;
}

.menu-wrapper ul li a {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  margin: 0 16px;
}

#main_ul_menu .icon {
  display: none;
}

#main_ul_menu li:hover {
  color: #ADC44C;
  transition: color .3s;
}


.navbar-container {
  position: relative;
  background-color: black;
  height: 150px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  
}

.navbar-inner {
  position: absolute;
  top: 60%;
  background-color: #006699;
  opacity: .9;
  display: grid;
  grid-template-columns: 20% 20% 30% auto 30%;
  grid-template-areas:
  "logo . menu-wrapper . login-signup";
  text-align: center;
  align-items: center;
  margin: 0px auto;
  width: 80%;
  height: 60%;
}




@media screen and (max-width: 1000px) {

  .fa-bars {
    font-size: 33px;
  }

  .menu-wrapper {
    position: relative;
    text-align: right;
  }

  #main_ul_menu li:not(:last-child) {
    display: none;
  }

  #main_ul_menu .icon {
    display: block;
  }

  .navbar-inner  {
    grid-template-columns: auto 15% 10% 65% auto;
    grid-template-areas:
    ". logo . menu-wrapper .";
  }

}

@media screen and (max-width: 1000px) {
  #menu_wrapper.responsive {position: relative;}
  #menu_wrapper.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  #menu_wrapper {
    display: block;
  }

  #menu_wrapper.responsive li{
    display: block;
    float: none;
    text-align: left;
  }

  #menu_wrapper.responsive ul {
    display: block;
  }




}
